@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700&family=Open+Sans:wght@400;500;600;700;800&display=swap");

.stats-container {
  background: #fff;
  min-width: 20%;
  max-width: 60%;
  min-height: 30rem;
  margin: 1rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0.5rem #153b95;
}

.mid-header {
  font-size: 2rem;
  text-transform: capitalize;
}
